<% provide(:title, "UEBPrep - Login") %>

<div class="row">
  <div class="app-modalbox app-roundedbox small-10 medium-7 small-centered columns" role="main">
    <div class="app-txt-centered small-8 large-10 small-centered columns" role="complementary">
      <h4>Login</h4>
      <hr>
      <%= render 'users/social_media_logins' %>
      </div>
    </div>
    <br>
    <div class="app-block small-16 large-10 small-centered columns" role="form">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email, validate: { presence: true } %><%= f.email_field :email, 'arial-label'=> "enter email" %>
        <%= f.label :password, validate: { presence: true } %><%= f.password_field :password, 'arial-label'=> "enter password" %>
        <div id="home-newUserTxt">New User?</div>
        <br><%= f.submit "Log in", class: "button", 'arial-label'=> "lgoin button" %><%= link_to "Sign up!", signup_path, class: "button app-floatR", 'arial-label'=> "sign-up button" %>
      <% end %>
    </div>
  </div>
</div>
