<% provide(:title, "UEBPrep Log in") %>
<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %><%= f.email_field :email %>
      <%= f.label :password %><%= f.password_field :password %>
      <%= f.submit "Log in", class: "button"%>
      New user? <%= link_to "Sign up now!", signup_path %>
      <div><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></div>
    <% end %>
  </div>
</div>
