<h1>Listing playlists</h1>

<table>
  <thead>
    <tr>
      <th>Playlist Name</th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td> <%= playlist.name %> </td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<form action="<%= new_playlist_path %>" method="get">
    <input class="button" name="commit" type="submit" value="New Playlist">
</form>
