<div id="home-header">
  <img id="home-logo" src="assets/homepage/logo2.png" alt="image">
</div>
<div id="home-content">
  <h1>Unified English Braille eLearning Platform</h1>
  <table id="home-userInputOuter">
    <tr align="center">
      <td>
        <table id="home-userInputInner">
          <tr align="center">
            <td><%= link_to "Sign Up!", {controller: "users", action: "new"}, class: "home-userInput" %></td>
            <td><%= link_to "Login", {controller: "sessions", action: "create"}, class: "home-userInput" %></td>

          </tr>
          <tr align="center">
<<<<<<< HEAD
            <!--
            <td colspan="2"><a href="http://www.facebook.com"><img id="facebook-login" src="assets/homepage/FacebookButton.png" alt="image"></td>
            -->
            <td colspan="2"><div id="facebookbutton"><%= link_to image_tag("homepage/FacebookButton.png", :height => "60%", :width => "60%"), user_omniauth_authorize_path(:facebook), id: "buttonFacebook" %></div></td>
=======
            <td colspan="2"><div id="facebook_button"></div><%= link_to image_tag("homepage/FacebookButton.png", :width => "50%", :height => "50%"), user_omniauth_authorize_path(:facebook), id: "facebook_button" %></td></div>
>>>>>>> origin/parker_Not_For_Real_Branch
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <%= form_tag("homepage/subscribe_email", method: "post", id: "home-subscribe") do %>
    <%= email_field_tag(:email_address) %>
    <p><%= submit_tag("Subscribe", :id=>"home-submit") %></p>
  <% end %>
</div>
<div id="home-footer"><!--&#8226; <div id="home-about" class="app-whitelink">About</div> -->&#8226; <a href="https://github.com/galxy25/pdxCoders" class="app-whitelink" target="_blank">GitHub</a> &#8226;<!-- <div id="home-team" class="app-whitelink">Team</div> &#8226;--></div>
<hr id="home-hrFooter">