<% provide(:title, "UEBPrep - Sign up") %>

<div class="row app-txt-centered">
  <div class="medium-3 medium-centered columns hide-for-small-only">
    <img src="assets/homepage/iHeader.png" alt="image" data-interchange="">
  </div>
</div>
<div class="row">
  <div class="app-block app-modalbox app-roundedbox small-10 medium-7 small-centered columns">
    <div class="app-txt-centered small-8 large-10 small-centered columns">
      <h4>Sign up</h4>
      <hr>
      <div class="google">
        <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
            <img class="app-btns app-roundedbox" src="assets/homepage/google.png" alt="image" data-interchange="">
        <% end %>
      </div>
      <div class="facebook">
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <img class="app-btns app-roundedbox" src="assets/homepage/facebook_login_button.png" alt="image" data-interchange="">
        <% end %>
      </div>
      <div class="twitter">
        <%= link_to user_omniauth_authorize_path(:twitter) do %>
        <img class="app-btns app-roundedbox" src="assets/homepage/twitter_login_button.png" alt="image" data-interchange="">
        <% end %>
      </div>
    </div>
    <br>
    <div class="app-block small-8 medium-15 small-centered columns">
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= f.label :email %><%= f.email_field :email %>
        <%= f.label :username %><%= f.text_field :username %>
        <%= f.label :password %><%= f.password_field :password %>
        <%= f.label :password_confirmation, "Confirmation" %><%= f.password_field :password_confirmation %>
        <%= f.label :avatar, "Add a profile picture" %><%= f.file_field :avatar%>

        <%= f.submit "Create account", class: "button" %>
      <% end %>
    </div>
  </div>
</div>