<% provide(:title, "UEBPrep - My Profile") %>

<% content_for :navlinks do %>
  <li class="active"><%=link_to "View Profile", {:controller => "users", :action => "show", :id => @user.id } %></li>
  <li class="active"><%= link_to "Edit Profile", profile_path, method: "get" %></li>
  <li class="active"><%= link_to "Logout", logout_path, method: "delete" %></li>
<% end %>

<h1>A single user</h1>
<div >
  <div >
      <ul>
        <li>User Id: <%= @user.id %></li>
        <li>User API Key: <%= @user.api_key %></li>
        <li>User Email: <%= @user.email %></li>
        <li>Username: <%= @user.username %></li>
        <li>Location: <%= @user.location %></li>
        <li>Member Since: <%= @user.created_at %></li>
        <li><%= image_tag @user.avatar.url %></li>
        <li><%= image_tag @user.avatar.url(:small) %></li>
      </ul>
  </div>
</div>
<%= render 'footer_links' %>
