<h1>A single user</h1>
<div >
  <div >
      <ul>
        <li>User Id: <%= @user.id %></li>
        <li>User API Key: <%= @user.api_key %></li>
        <li>User Email: <%= @user.email %></li>
        <li><%= image_tag @user.avatar.url %></li>
        <li><%= image_tag @user.avatar.url(:small) %></li>
      </ul>
  </div>
</div>
<%= render 'footer_links' %>
