<% provide(:title, "UEBPrep - Edit Profile") %>

<div class="large-10 large-centered columns">
  <div class="small-3 small-centered columns hide-for-small-only">
    <img src="assets/homepage/iHeader.png" alt="UEB Prep Logo: reading, games, chat" data-interchange="">
  </div>
</div>

<div class="app-block app-modalbox app-roundedbox large-10 large-centered columns">
  <div class="row">
    <div class="large-6 columns">
      <div class="app-txt-centered large-centered columns">
        <h4>Edit Profile</h4>
        <hr>
      </div>
      <div class="app-block large-centered columns">
        <%= render 'edit_profile' %>
      </div>
    </div>

    <div class="large-6 columns">
        <div class="row">
          <h4 style="text-align: center">My Playlists</h4>
          <p style="text-align: center">(Click to edit)</p>
          <hr>
          <ul id="user_playlists">
            <% @playlists.each do |playlist| %>
              <li style="list-style-type: none;text-align: center" class="user_playlist" playlist-id="<%= playlist.id %>"><%= playlist.name + " (" + playlist.cards.count.to_s + ")" %></li>
            <% end %>
          </ul>
        </div>
        <div id="new-playlist" class="large-centered row text-centered">
          <div class="columns small-centered">
            <%= form_tag({:controller=>"playlists", :action=>"new"}, method: :get) do %>
            <%= text_field_tag :name, nil, placeholder: 'Enter the name of the playlist' %>
            <%= submit_tag 'Create Playlist', name: nil, class: "button newplaylist small small-4 success"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="edit_playlist_dialog" style="display: none">
  <label for="playlist_title">Playlist Name</label><input id="playlist_title" type="text" />
  <ul id="sortable">
  </ul>
</div>
