<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if @card.content_type_id == 1 %>
        <h2>Text Content</h2>
        <%= label_tag(:cardtext, "Text") %>
        <%= text_area_tag( 'text', TextContent.find(@card.content_id).text , size: '8x8') %>
    <% else %>
        <h2>Card Title</h2>
        <%= label_tag(:cardtitle, "Title") %>
        <%= text_field_tag( 'title', TitledCardContent.find(@card.content_id).title) %>
        <h2>Text Content</h2>
        <%= label_tag(:cardtext, "Text") %>
        <%= text_area_tag( 'text', TitledCardContent.find(@card.content_id).text , size: '8x8') %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
